{% extends "accounts/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
 <!--Hero section-->
 <div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to right, #a1c4fd, #c2e9fb); border-radius:10%">
    <div class="col-md-4">
        <div class="card shadow-sm" style="border-radius:5%">
            <div class="card-body">

                
                <!--Alert Message-->                
                <div class="alert alert-danger" role="alert">
                    {{ invalid }}
                </div>


                <h4 class="card-title text-center mb-4">Login</h4>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group my-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group my-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    <a href="#" class="text-secondary">Forgot your password?</a>
                </div>
                <div class="text-center mt-3">
                    <p>
                        Don't have an account? 
                        <a href="{% url 'signup' %}" class="text-secondary">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
