{% extends "accounts/base.html" %}


{% block title %}
    Register
{% endblock %}



{% block body %}
 <!--hero section-->
 <div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to right, #a1c4fd, #c2e9fb); border-radius:10%">
    <div class="col-md-4">
        <div class="card shadow-sm" style="border-radius:5%">
            <div class="card-body">

                <div class="alert alert-danger" role="alert">
                    {{ invalid }}
                </div>

                <h4 class="card-title text-center mb-4">Sign Up</h4>

                <form method="post">
                    
                    {% csrf_token %}

                    <div class="form-group my-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group my-3">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                    </div>
                    <div class="form-group my-3">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div>
                    
                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </div>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>
                        Already have an account? 
                        <a href="{% url 'login' %}" class="text-secondary">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}






